
html {
  background: #18171F;
}
.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  position: absolute;
  width: 260px;
  height: 32px;
  left: 590px;
  top: 133px;

  /* Heading (M) */

  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height */

  text-align: right;

  /* Grey */

  color: #817D92;

}

.App-link {
  color: #61dafb;
}
.Form {
  position: absolute;
  width: 540px;
  height: 632px;
  left: 450px;
  top: 196px;
  background: #24232C

  /*background: #817D92;*/
  /*width:50%;*/

}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
